@import '../../__base.scss';

.contact{
  width : 100%; 
  min-height: 75vh; 
  display : flex;
  padding: 20px 0;
  padding-bottom: 20px;
  
  &__left{
      flex : 1;
      height: 100%;
      width : 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   img{
      height: 70%; 
      width : 60%;  
   }   

   div{
      display: flex;
      justify-content: center;
  }
  .contactIcons{
    color : $red !important;
    
    .icon{
       font-size: clamp(35px , 11vw , 50px)!important;
       margin:  10px;
    }
  }
  }

  &__right{
      flex : 1;
      display: flex;
      flex-direction: column;
     
   p{
    text-align: center;
    font-size: clamp(25px , 3vw , 35px);
    font-weight: bold;
    word-spacing: 2px;
    margin-bottom: 10px;
   }  
   
   form{
     display: flex;
     flex-direction: column;

     div{
        display : flex;
        flex-direction: column;
        width : 80%;
        margin: auto;
     
        label{
           font-size: clamp(17px , 2vw , 22px);
        }
     }
   }
   input{
       width : 100%;
       margin: 10px auto;
       font-size: clamp(15px , 1.2vw , 25px);
       font-weight: 100;
       padding : 0.3em;

     &:focus{
        outline: none;
     }  
   }

   textarea{
    width : 100%;
    margin: 10px auto;
    font-size: clamp(15px , 1.2vw , 25px);
    font-weight: 100;
    padding : 0.3em;
    height: 200px;
    overflow: scroll;
    resize: none;

    &:focus{
      outline: none;
   } 
   }

   button{
      width : 40%;
      background-color: $red;
      border: none;
      border-radius: 10px;
      color : white;
      margin: 0 auto;
      font-size : clamp(18px , 1.5vw , 28px);
      padding : 0.3em; 
      cursor : pointer;
   }
    
   
  }
}

@media(max-width : 780px){
  .contact{
     flex-direction: column;
    
   &__left{
      height: 40%;
   } 
   
   &__right{
      height: 60%;
   }
  } 
}